:root{
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --grey-dark-color:#909090;
    --grey-light-color: #e0e0e0;
    --yellow-color:#f3b814;
    --gradient-color:-webkit-linear-gradient(  #140a00ce,#0c0c0c00 );

    /* Size */
    --padding:10px;
    --side-padding:120px;
    --button-size:150px;

    /* Font Size */
    --font-huge:30px;
    --font-large:20px;
    --font-medium:15px;
    --font-small:12px;
    --font-micro:10px;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ELAND_Choice_L';
}

ul{
    list-style: none;
}

button,
button:focus{
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--white-color);
    background-color: var(--black-color)
}

/* AD Banner */
.banner{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--black-color);
}
.banner img{
    width: 100%;
    height: 100%;
}
.banner .closeBtn{
    font-size: var(--font-large);
}

/* Header */
header{
    position: sticky;
    top:0;
    background: var(--gradient-color);
    padding: 0 var(--side-padding);
}

header .logo{
    font-family: 'ELAND_Nice_M';
    text-align: center;
    font-size: var(--font-huge);
    color: var(--white-color);
    padding-top: var(--padding);
}

header .menu1{
    display:flex;
    justify-content: space-between;
    font-size: var(--font-small);
    color: var(--grey-light-color);
    padding: var(--padding) 0;
    border-bottom: 1px solid var(--grey-light-color);
}

header .menu2{
    display: flex;
    justify-content: space-evenly;
    padding: var(--padding) 0;
    font-size: var(--font-medium);
    color: var(--white-color);
}
header .menu2 .small_menu{
    font-size: var(--font-small);
}

#item{
    padding: 0 var(--padding);
}
header .menu2 .main_menu #item{
    border-right: 1px solid var(--grey-light-color);
}
header .menu2 .main_menu .reservation{
    border-left: 1px solid var(--grey-light-color);
}

/* Movie Trailer Player */
.player{
    --header-size:"green";
    top: var(--header-size);
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--black-color);
}
.player .background{
    padding: calc(var(--side-padding)/4);
}
.player img{
    width: 100%;
    height: auto;
    max-width: 1500px;
}
.player .gradient{
    margin: var(--side-padding) 0;
    background: var(--gradient-color);
}

/* Movie Ranking */
.ranking{
    padding: 0 var(--side-padding);
    padding-bottom: calc(var(--side-padding)/2);
    color: var(--white-color);
    background-color: var(--black-color);
}
.ranking .clock{
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-small);
    padding-bottom: var(--padding);
}
.ranking .info{
    display: flex;
}
.ranking .info .item .info{
    display: flex;
    flex-direction: column;
    padding: calc(var(--padding)*2) var(--padding);
    text-align: center;
    font-size: var(--font-small);
}
.ranking .info .item .img img{
    width: 100%;
    height: auto;
    padding: 0 calc(var(--padding)/2);
}
#star{
    color: var(--yellow-color);
}

/* Event */
.event{
    padding: calc(var(--padding)*2) var(--side-padding);
}
.event .titlebar{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-medium);
    padding: var(--padding) 0;
}
.event .moreBtn{
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.event .imgbar{
    display: flex;
    justify-content: space-between;
    padding: var(--padding) 0
}
.event .imgbar img{
    width: 100%;
    height: 100%;
}

/* Preview */
.preview{
    padding: calc(var(--padding)*2) var(--side-padding);
}
.preview .titlebar{
    display: flex;
    justify-content: space-between;
    padding: var(--padding) 0;
    font-size: var(--font-medium);
}
.preview .moreBtn{
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.preview .imgbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.preview .imgbar img{
    width: 100%;
    height: 100%;
}

/* Benefit */
.benefit{
    display: flex;
    padding: var(--padding) var(--side-padding);
}
.benefit li{
    flex:1 1 20%;
    margin: var(--padding) var(--padding);
}
#icon{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--padding);
    text-align: center;
    font-size: var(--font-huge);
}
.benefit li button{
    width: 100%;
    height: var(--button-size);
    background-color: var(--grey-light-color);;
    color: var(--black-color);
    background-color: var(--grey-light-color);
    font-size: var(--font-large);
}

@media screen and (max-width:768px) {
    header{
        padding-left : var(--padding);
        padding-right: var(--padding);
    }
    header .menu1{
        display: block;
        text-align: center;
    }
    header .menu2{
        display: block;
        text-align: center;
    }
    .ranking{
        padding-left : var(--padding);
        padding-right: var(--padding);
    }
    .event{
        padding-left : var(--padding);
        padding-right: var(--padding);
    }
    .preview{
        padding-left : var(--padding);
        padding-right: var(--padding);
    }
    .benefit{
        padding-left : var(--padding);
        padding-right: var(--padding);
    }
}